@model QR_Code_Reader.Models.VM.PatientSearchViewModel
@{
    Layout = null;
}



<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>PatientSearch</title>
        <style>

            body {
                background-image: url("https://userscontent2.emaze.com/images/4e9fc89f-19e7-41c3-a654-4d8e7d8a98ff/84bcb39a305bfdf2a655638d23dfcfb6.jpg");
                background-size: cover;
            }

            .card {
                width: 400px;
                background-color: #fff;
                border: none;
                border-radius: 12px
            }

            label.radio {
                cursor: pointer;
                width: 100%
            }

                label.radio input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    visibility: hidden;
                    pointer-events: none
                }

                label.radio span {
                    padding: 7px 14px;
                    border: 2px solid #eee;
                    display: inline-block;
                    color: #039be5;
                    border-radius: 10px;
                    width: 100%;
                    height: 48px;
                    line-height: 27px
                }

                label.radio input:checked + span {
                    border-color: #039BE5;
                    background-color: #81D4FA;
                    color: #fff;
                    border-radius: 9px;
                    height: 48px;
                    line-height: 27px
                }

            .form-control {
                margin-top: 10px;
                height: 48px;
                border: 2px solid #eee;
                border-radius: 10px
            }

                .form-control:focus {
                    box-shadow: none;
                    border: 2px solid #039BE5
                }

            .agree-text {
                font-size: 12px
            }

            .terms {
                font-size: 12px;
                text-decoration: none;
                color: #039BE5
            }

            .confirm-button {
                height: 50px;
                border-radius: 10px
            }

            .confirm-button {
                margin-top: 34px;
            }

            .control-label {
                color: white;
                font-size: 22px;
                font-weight: 600;
                font-family: monospace;
                padding-top: 13px;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
      
    </head>
    <body>
        @if ((string)ViewData["page"] == "true")
        {

            <section class="logo">
                <div class="container">
                    <div class="row">
                        <div style=" text-align: center;" class="col-12">
                            <img style="  margin-top: 60px; width: 20%" src="~/img/images.png" alt="Elmed LOGO" />

                        </div>
                    </div>
                </div>
            </section>
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div style=" background-color: #434644ba;" class="card px-1">
                    <div class="card-body">
                        <form method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">Adı </label>
                                        <input class="form-control" type="text" asp-for="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">Soyadı</label>
                                        <div class="input-group"> <input class="form-control" type="text" asp-for="Surname"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">Şəxsiyyət vəsiqəsinin nömrəsi</label>
                                        <div class="input-group"> <input class="form-control" type="text" asp-for="IdCartNumber"> </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block confirm-button">Yoxlayın</button>
                        </form>
                    </div>
                </div>
            </div>
        }
        else if ((string)ViewData["page"] == "false")
        {
            <p style=" text-align: center; font-size: 30px; font-family: cursive; font-weight: 400; color: red;">Sorgunuz qeyde alinmamisdir</p>
            <p style=" font-size: 40px; font-family: sans-serif; font-weight: 700; color: red; text-align: center;">UGURSUZ CEHT</p>
            @*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style=" height: 250px;">

                        <div class="modal-body">
                            <p style=" text-align: center; font-size: 30px; font-family: cursive; font-weight: 400; color: red;">Sorgunuz qeyde alinmamisdir</p>
                            <p style=" font-size: 40px; font-family: sans-serif; font-weight: 700; color: red; text-align: center;">UGURSUZ CEHT</p>
                            <img style=" margin-left: 200px;" src="https://img.icons8.com/fluent/48/000000/cancel.png" />
                        </div>
                    </div>
                </div>
            </div>*@
        }
    </body>
    </html>
          
     
